.wrapper {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  border-radius: 10px;
  border: none;
  padding: 16px;

  background-color: var(--gray-500);
  color: var(--gray-300);

  margin-bottom: 0.8rem;

  max-width: 1000px;

}

.wrapper div {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.8rem;
}

.wrapper div p {
  max-width: 95%;
}

.wrapper div .selectable{
  text-decoration: line-through;
}

.wrapper button{
  background: transparent;
  border: none;
  color: var(--gray-300);

  box-shadow: none;

}